.NavBarMain {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2px;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BlinkiflyBox {
  display: flex;
}

.BlinkiflyText {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  color: Orange;
}

.SiShopware {
  margin-top: 15px;
  font-size: 1.4rem;
  color: orange;
}

.CartIconText {
  margin: 3px;
  font-size: 14px;
  font-weight: 700;
  vertical-align: super;
  color: orange;
}

.InputSearch {
  width: 50%;
  background-color: #f5f5f5;
  margin-left: 10rem;
  border: none;
}

.FiShoppingCart {
  font-size: 1.2rem;
  color: orange;
}

.CartIcon {
  margin-right: 12rem;
  cursor: pointer;
  padding-right: 20px;
}

.DialogBox {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.DialogTitleText {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: blue;
}

.DialogFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.DialogButton {
  color: rgb(249, 249, 253);
  text-decoration: none;
}

.DialogContent {
  margin: 10px auto;
}

.DialogContentHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  font-size: 40px;
  color: #0596f7;
  margin-bottom: 30px;
  font-weight: 700;
  padding: 10px;
  border-bottom: #0596f7 solid 2px;
}

.clearCart {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.noCartItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cartItemImage {
  width: 70px;
}

.cartItemQuantityBox {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.cartItemQuantity {
  width: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.cartItemName {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.cartItemIncreaseQuantityButton {
  size: small;
  width: 30px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.cartItemIncreaseQuantityButton:active {
  transform: translateY(1.2px);
}

.cartItemDecreaseQuantityButton {
  width: 30px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.cartItemDecreaseQuantityButton:active {
  transform: translateY(1.2px);
}

.cartItemPrice {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.cartTotalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #0596f7;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 50px;
}

.finish-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.finish-order-button {
  text-decoration: none;
  color: white;
}

.product-details-Main {
  background-color: #e7e8e1;
}

.product-details-container {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  margin-bottom: 1%;
}

.product-details-image {
  width: 50%;
  height: 500px;
  margin-right: 2px;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
}

.product-details-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-details-Features {
  font-size: 2rem;
  font-weight: bold;

  margin-top: 3px;
}

.product-details-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.product-details-price-Box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product-details-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-details-price-value {
  font-size: 1.5rem;
}

.product-details-review-box {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

.product-details-review-Container {
  padding: 1%;
  background-color: white;
  margin-bottom: 3px;
}

.review-section {
  padding-left: 2%;
  padding-right: 2%;
}

.product-details-review-icon {
  font-size: 50px;
}

.product-details-review-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.customer-reviews {
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  padding: 2%;
  margin-bottom: 2px;
  color: #0596f7;
}

.product-details-review-textbox {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-details-review-title {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.product-details-review-button {
  margin-bottom: 2rem;
}

.product-details-review-dialog {
  width: 400px;
  height: 40vh;
}

.product-reviews {
  margin-bottom: 1px;
  background-color: white;
  padding: 2%;
}

.product-review-details-header {
  display: flex;
  justify-content: space-between;
}

.product-details-review-Input-title {
  padding: 5px;
  width: 400px;
}

.product-details-review-Input-email-Box {
  margin-top: 10px;
}

.product-details-review-Input-email {
  padding: 5px;
  width: 400px;
}

.product-details-review-Input-feedback-box {
  margin-top: 10px;
}

.product-details-review-Input-feedback {
  width: 400px;
}

.product-review-details-container {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #e7e8e1;
}

.product-review-details-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #383838;
}
.product-review-createon {
  display: flex;
  text-align: center;
  align-items: center;
}

.customer-details {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.full-name {
  padding: 3px;
  border-radius: 5px;
  width: 40%;
  margin-top: 2rem;
}

.email {
  padding: 3px;
  border-radius: 5px;
  width: 40%;
  margin-top: 1rem;
}

.phone-number {
  padding: 3px;
  border-radius: 5px;
  width: 40%;
  margin-top: 1rem;
}

.shipping-details {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.shipping-address {
  margin-top: 30px;
  margin-bottom: 10px;
}

.street-address {
  padding: 3px;
  border-radius: 5px;
  width: 40%;
}

.city-zip-code {
  margin-top: 10px;
  margin-bottom: 10px;
}

.city {
  padding: 3px;
  border-radius: 5px;
  width: 40%;
}

.zip-code {
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
  width: 40%;
}

.country-province {
  margin-top: 10px;
  margin-bottom: 10px;
}

.country {
  padding: 3px;
  border-radius: 5px;
  width: 40%;
}

.province {
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
  width: 40%;
}

.payment-details {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.payment-method {
  margin-top: 10px;
  color: black;
  font-size: 1.3rem;
}

.card-number {
  margin-top: 5px;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 50%;
}

.CVV {
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.expiry-date {
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
}

.confirmation-of-order-main-box {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.customer-details-box {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

.customer-details-box-inner {
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 10px;
}

.customer-details-items {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.customer-details-box-inner-address {
  border-radius: 5px;
  width: 20vw;
  padding: 0.5rem;
}

.confirmation-of-order-button-box {
  margin-top: 1rem;
  font-size: large;
  font-weight: 700;
}

.total-price-box {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0596f7;
}

.checkout-main-box {
  position: relative;
  background-size: cover;
  height: 100vh;
  background-color: rgb(243, 252, 255);
}

.checkout-main-box-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-stepper {
  margin-top: 21px;
  width: 70%;
  color: white;
  padding-top: 2px;
}

.checkout-content {
  display: flex;
  justify-content: center;
}

.checkout-content-inner {
  border-radius: 14px;
  margin-left: 14px;
  padding-left: 14px;
  margin-right: 14px;
  padding-top: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.3);
  width: 70%;
}

.checkout-button-box {
  display: flex;
  margin-top: 3px;
  margin-bottom: 12px;
  gap: 10px;
}

.checkout-button-link {
  text-decoration: none;
  color: white;
}

.category-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5%;
}

.category-list-item {
  width: auto;
  height: auto;
  margin-left: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #f5f5f5;
}



.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: 90vh;
  gap: 30px;
}

.product-list-item {
  width: 30%;
  height: 75vh;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.product-list-item:hover {
  box-shadow: 0px 0px 5px #000000;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.product-list-item-link {
  text-decoration: none;
  color: black;
}

.product-list-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product-list-item-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.product-list-item-name-text {
  font-weight: bold;
}

.cart-modal {
  background-color: white;
  border-radius: 10px;
}

.cartItemRemoveButton {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
